version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: testdb
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build: ./backend
    container_name: flask-backend
    depends_on:
      - mysql-db
    environment:
      MYSQL_HOST: mysql-db
      MYSQL_ROOT_PASSWORD: root123
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: nginx-frontend
    ports:
      - "8080:80"

volumes:
  mysql-data:

